{% extends 'shop/basic.html' %}

{% block title %}Contact Us - My Awesome Cart{% endblock %}
{% block body %}
<div class="container">
    <h3 class="my-3">Contact Us Regarding Any Query</h3>
    <form action="/shop/contact/" method="post">
        {% csrf_token %}
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
  </div>
   <div class="form-group">
    <label for="email">Email address</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter valid email ID">
  </div>
        <div class="form-group">
    <label for="phone">Phone Number (with country code)</label>
    <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter your phone number">
  </div>
  <div class="form-group">
    <label for="desc">Your Query Here</label>
    <textarea class="form-control" id="desc" rows="3"></textarea>
  </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Submit</button></div>
</form>
</div>
{% endblock %}