<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Welcome to My Awesome Cart</title>
  </head>
  <body>
  <marquee><h2 class="display-2">Happieness on your doorsteps!</h2></marquee>
   <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://source.unsplash.com/1600x600/?shopping" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Shop Across the World</h5>
        <p>Shop across the site to explore happieness</p>
      </div>
    </div>
    <div class="carousel-item">
      <img  src="https://source.unsplash.com/1600x600/?shoppingbag" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>All in one!</h5>
        <p>Browse different categories at a place</p>
      </div>
    </div>
    <div class="carousel-item">
      <img  src="https://source.unsplash.com/1600x600/?clothing,cosmetics" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Open the box of happieness</h5>
        <p>Swim inside river of joy </p>
      </div>
    </div>
  </div>
</div>
    <div class="jumbotron">
  <h1 class="display-4">Welcome to My Awesome Cart!</h1>
  <p class="lead">My Awesome Cart is a user friendly site to shop around wide ranges of product.</p>
  <hr class="my-4">
  <p>Get products at your doorsteps on a single click.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/shop" role="button">Shop Now!</a>
  </p>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>